.link-about {
  background: rgb(0, 0, 0);
}

.link-send {
  background: #337ab7;
}

.link-paste {
  background: #e1bb35;
}

.link-speed {
  background: #AA6060;
}

.link-draw {
  background: #6864d8;
}